//
//  Flutter.xcconfig
//  HybridiOS
//
//  Created by loneylyflow on 15/05/2019.
//  Copyright © 2019 Lonely traveller. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "../../../../Flutter/flutter_module/.ios/Flutter/Generated.xcconfig"
ENABLE_BITCODE=NO
